<div class="col-md-6">
    <form class="form" role="form" autocomplete="off" id="formCreatePoll" method="post">
        <div class="form-group">
            <label for="question">Question: </label>
            <input type="text" class="form-control" name="question" id="question" placeholder="e.g. what's the best language in Asia?" required=>
        </div>
        <div class="form-group" id="choicesGroup">
            <label>Choices: </label>
            <input type="text" class="form-control choice" name="choice0" id="choice0" placeholder="Vietnamese" required>
            <input type="text" class="form-control choice" name="choice1" id="choice1" placeholder="Thai looks like noodle" required>
            <input type="text" class="form-control choice" name="choice2" id="choice2" placeholder="Chinese is shit" >
        </div>
        <button type="submit" id="submitBtn" class="btn btn-info float-right">Create</button>
        <button class="btn btn-success float-right" id="addChoice">+</button>
    </form>
</div>

<script type="text/javascript" src="/app/common/ajaxFunctions.js"></script>
<script type="text/javascript" src="/app/controllers/create.addEmptyChoice.client.js"></script>
<script type="text/javascript" src="/app/controllers/create.sendRequest.client.js"></script>
