<div class="col-md-6">
    <form action="/register" class="form" role="form" autocomplete="on" id="formLogin" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" id="username" required=>
            <label>Password</label>
            <input type="password" class="form-control" name="password" id="password" minlength="7" required>
            <label>Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
            <br>
            <button type="submit" class="btn btn-success float-right">Register</button>
        </div>
    </form>
</div>
