

.card {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
}

.card-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.btn {
    display: block;
    width: 100%;
    color: #283747;
    border-color: rgba(197, 202, 233, 1);
}

.btn:hover{
    color: black;
    background-color: rgba(197, 202, 233, 0.5);
    border-color: rgba(197, 202, 233, 1);
}

.voteIcon {
    width: 20px;
    height: 20px;
}
