.cardblocks-wrapper {
    padding-top: -10px;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.card-block {
    padding: 0px;
    padding-left: 1%;
}

.card {
    margin-top: 3px;
    margin-bottom: 3px;
}
