html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 10rem;
  background: url("/public/assets/background-2730506_1280.jpg") center no-repeat fixed;
  background-size: cover;
  /* Margin bottom by footer height */
  margin-bottom: 5vh;
}

.navbar-inverse {
     background-color: #222 !important;
     border-color: #080808 !important;
}


#logo{
    width: 100px;
    height: auto;
    display: flex;
}

/* <a> tag can have "disabled" attribute */
a[disabled], a[disabled]:hover {
   cursor:not-allowed;
   color: #e1e1e1;
}

.footer {
  position: absolute;
  bottom: 0;   /*Set the bottom edge of the absolute positioned element (footer) to 0px above the bottom edge of its nearest positioned ancestor */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5vh;
  line-height: 5vh; /* Vertically center the text there */
  background-color: #222;
  border-color: #080808;
}
