body {
  padding-top: 10rem;
  background-color: #F5EEF8;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#logo{
    width: 100px;
    height: auto;
    display: flex;
}
