body {
  padding-top: 10rem;
  background-color: #F5EEF8;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#logo{
    width: 100px;
    height: auto;
    display: flex;
}

/* <a> tag can have "disabled" attribute */
a[disabled], a[disabled]:hover {
   cursor:not-allowed;
   color: #e1e1e1;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}
